<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.CompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.CompanyInfo" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="company_portrait_url" property="companyPortraitUrl" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_is_auth" property="companyIsAuth" jdbcType="INTEGER" />
    <result column="company_industry" property="companyIndustry" jdbcType="VARCHAR" />
    <result column="company_scale" property="companyScale" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="company_introduction" property="companyIntroduction" jdbcType="VARCHAR" />
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR" />
    <result column="qualifications_one_url" property="qualificationsOneUrl" jdbcType="VARCHAR" />
    <result column="qualifications_two_url" property="qualificationsTwoUrl" jdbcType="VARCHAR" />
    <result column="qualifications_three_url" property="qualificationsThreeUrl" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="company_number" property="companyNumber" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    *
  </sql>
  
  <sql id="wheresql">
  	<where>
  		<if test="companyId != null" >
        company_id=#{companyId}
      </if>
      <if test="companyPortraitUrl != null" >
        and company_portrait_url=#{companyPortraitUrl}
      </if>
      <if test="companyName != null" >
        and company_name=#{companyName}
      </if>
      <if test="companyIsAuth != null" >
       and company_is_auth=#{companyIsAuth}
      </if>
      <if test="companyIndustry != null" >
        and company_industry=#{companyIndustry}
      </if>
      <if test="companyScale != null" >
       and  company_scale=#{companyScale}
      </if>
      <if test="companyAddress != null" >
       and  company_address=#{companyAddress}
      </if>
      <if test="companyIntroduction != null" >
        and company_introduction=#{companyIntroduction}
      </if>
      <if test="businessLicenseUrl != null" >
        and business_license_url=#{businessLicenseUrl}
      </if>
      <if test="qualificationsOneUrl != null" >
       and  qualifications_one_url=#{qualificationsOneUrl}
      </if>
      <if test="qualificationsTwoUrl != null" >
        and qualifications_two_url=#{qualificationsTwoUrl}
      </if>
      <if test="qualificationsThreeUrl != null" >
       and   qualifications_three_url=#{qualificationsThreeUrl}
      </if>
      <if test="createBy != null" >
        and create_by=#{createBy}
      </if>
      <if test="createTime != null" >
        and create_time=#{createTime}
      </if>
      <if test="updateBy != null" >
       and  update_by=#{updateBy}
      </if>
      <if test="updateTime != null" >
        and update_time=#{updateTime}
      </if>
  	</where>
  </sql>
  
  <select id="findByParam" resultMap="BaseResultMap" parameterType="com.temporary.center.ls_service.domain.CompanyInfo">
	select * from   companyinfo
	<include refid="wheresql" />
  </select>
  
  <select id="findByParamCompany" resultMap="BaseResultMap" parameterType="com.temporary.center.ls_service.domain.CompanyInfo">
	select company_id, company_portrait_url, company_name, company_is_auth, company_industry, 
    company_scale, company_address, company_introduction,qualifications_one_url,qualifications_two_url,qualifications_three_url
     from   companyinfo
	<include refid="wheresql" />
  </select>
  
  <select id="qualifications" resultMap="BaseResultMap" parameterType="com.temporary.center.ls_service.domain.CompanyInfo">
  	select business_license_url, qualifications_one_url, 
    qualifications_two_url, qualifications_three_url  from   companyinfo
  	<include refid="wheresql" />
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from companyinfo
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from companyinfo
    where company_id = #{companyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.CompanyInfo" >
    insert into companyinfo (company_id, company_portrait_url, company_name, 
      company_is_auth, company_industry, company_scale, 
      company_address, company_introduction, business_license_url, 
      qualifications_one_url, qualifications_two_url, 
      qualifications_three_url, create_by, create_time, 
      update_by, update_time)
    values (#{companyId,jdbcType=BIGINT}, #{companyPortraitUrl,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{companyIsAuth,jdbcType=INTEGER}, #{companyIndustry,jdbcType=VARCHAR}, #{companyScale,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{companyIntroduction,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, 
      #{qualificationsOneUrl,jdbcType=VARCHAR}, #{qualificationsTwoUrl,jdbcType=VARCHAR}, 
      #{qualificationsThreeUrl,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.temporary.center.ls_service.domain.CompanyInfo" >
    insert into companyinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyPortraitUrl != null" >
        company_portrait_url,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyIsAuth != null" >
        company_is_auth,
      </if>
      <if test="companyIndustry != null" >
        company_industry,
      </if>
      <if test="companyScale != null" >
        company_scale,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="companyIntroduction != null" >
        company_introduction,
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url,
      </if>
      <if test="qualificationsOneUrl != null" >
        qualifications_one_url,
      </if>
      <if test="qualificationsTwoUrl != null" >
        qualifications_two_url,
      </if>
      <if test="qualificationsThreeUrl != null" >
        qualifications_three_url,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="companyNumber != null" >
        company_number,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="reason != null" >
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="companyPortraitUrl != null" >
        #{companyPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyIsAuth != null" >
        #{companyIsAuth,jdbcType=INTEGER},
      </if>
      <if test="companyIndustry != null" >
        #{companyIndustry,jdbcType=VARCHAR},
      </if>
      <if test="companyScale != null" >
        #{companyScale,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null" >
        #{companyIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualificationsOneUrl != null" >
        #{qualificationsOneUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualificationsTwoUrl != null" >
        #{qualificationsTwoUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualificationsThreeUrl != null" >
        #{qualificationsThreeUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileName != null" >
        #{fileName},
      </if>
      <if test="companyCode != null" >
        #{companyCode},
      </if>
      <if test="companyNumber != null" >
        #{companyNumber},
      </if>
      <if test="longitude != null" >
        #{longitude},
      </if>
      <if test="latitude != null" >
        #{latitude},
      </if>
      <if test="companyType != null" >
        #{companyType},
      </if>
      <if test="reason != null" >
        #{reason},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.temporary.center.ls_service.domain.CompanyInfo" >
    update companyinfo
    <set >
      <if test="companyPortraitUrl != null" >
        company_portrait_url = #{companyPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyIsAuth != null" >
        company_is_auth = #{companyIsAuth,jdbcType=INTEGER},
      </if>
      <if test="companyIndustry != null" >
        company_industry = #{companyIndustry,jdbcType=VARCHAR},
      </if>
      <if test="companyScale != null" >
        company_scale = #{companyScale,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null" >
        company_introduction = #{companyIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualificationsOneUrl != null" >
        qualifications_one_url = #{qualificationsOneUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualificationsTwoUrl != null" >
        qualifications_two_url = #{qualificationsTwoUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualificationsThreeUrl != null" >
        qualifications_three_url = #{qualificationsThreeUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName},
      </if>
      <if test="companyCode != null" >
        company_code = #{companyCode},
      </if>
      <if test="companyNumber != null" >
        company_number = #{companyNumber},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude},
      </if>
       <if test="latitude != null" >
        latitude = #{latitude},
      </if>
       <if test="companyType != null" >
        company_type = #{companyType},
      </if>
       <if test="reason != null" >
        reason = #{reason},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.temporary.center.ls_service.domain.CompanyInfo" >
    update companyinfo
    set company_portrait_url = #{companyPortraitUrl,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_is_auth = #{companyIsAuth,jdbcType=INTEGER},
      company_industry = #{companyIndustry,jdbcType=VARCHAR},
      company_scale = #{companyScale,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_introduction = #{companyIntroduction,jdbcType=VARCHAR},
      business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      qualifications_one_url = #{qualificationsOneUrl,jdbcType=VARCHAR},
      qualifications_two_url = #{qualificationsTwoUrl,jdbcType=VARCHAR},
      qualifications_three_url = #{qualificationsThreeUrl,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
</mapper>