<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.FullTimeMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.FullTime" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="one_type" property="oneType" jdbcType="VARCHAR" />
    <result column="two_type" property="twoType" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="salary_begin" property="salaryBegin" jdbcType="REAL" />
    <result column="salary_end" property="salaryEnd" jdbcType="REAL" />
    <result column="salary_unit" property="salaryUnit" jdbcType="VARCHAR" />
    <result column="age_begin" property="ageBegin" jdbcType="INTEGER" />
    <result column="age_end" property="ageEnd" jdbcType="INTEGER" />
    <result column="academic_requirements" property="academicRequirements" jdbcType="VARCHAR" />
    <result column="welfare" property="welfare" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="environmental_photos" property="environmentalPhotos" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="wx" property="wx" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createBy" property="createby" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="BIGINT" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="work_space" property="workSpace" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="working_time" property="workingTime" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.FullTime" >
    insert into full_time (id, one_type, two_type, 
      position, number, salary_begin, 
      salary_end, salary_unit, age_begin, 
      age_end, academic_requirements, welfare, 
      describe, environmental_photos, tel, 
      wx, email, createBy, 
      createTime, updateBy, updateTime, 
      startTime, endTime, work_space, 
      sex, active, working_time, 
      longitude, latitude,experience)
    values (#{id,jdbcType=BIGINT}, #{oneType,jdbcType=VARCHAR}, #{twoType,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{salaryBegin,jdbcType=REAL}, 
      #{salaryEnd,jdbcType=REAL}, #{salaryUnit,jdbcType=VARCHAR}, #{ageBegin,jdbcType=INTEGER}, 
      #{ageEnd,jdbcType=INTEGER}, #{academicRequirements,jdbcType=VARCHAR}, #{welfare,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{environmentalPhotos,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{wx,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createby,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{workSpace,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{active,jdbcType=INTEGER}, #{workingTime,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}), #{experience,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.temporary.center.ls_service.domain.FullTime" >
    insert into full_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oneType != null" >
        one_type,
      </if>
      <if test="twoType != null" >
        two_type,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="salaryBegin != null" >
        salary_begin,
      </if>
      <if test="salaryEnd != null" >
        salary_end,
      </if>
      <if test="salaryUnit != null" >
        salary_unit,
      </if>
      <if test="ageBegin != null" >
        age_begin,
      </if>
      <if test="ageEnd != null" >
        age_end,
      </if>
      <if test="academicRequirements != null" >
        academic_requirements,
      </if>
      <if test="welfare != null" >
        welfare,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="environmentalPhotos != null" >
        environmental_photos,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="wx != null" >
        wx,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="workSpace != null" >
        work_space,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="workingTime != null" >
        working_time,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="experience != null" >
        experience,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="oneType != null" >
        #{oneType,jdbcType=VARCHAR},
      </if>
      <if test="twoType != null" >
        #{twoType,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="salaryBegin != null" >
        #{salaryBegin,jdbcType=REAL},
      </if>
      <if test="salaryEnd != null" >
        #{salaryEnd,jdbcType=REAL},
      </if>
      <if test="salaryUnit != null" >
        #{salaryUnit,jdbcType=VARCHAR},
      </if>
      <if test="ageBegin != null" >
        #{ageBegin,jdbcType=INTEGER},
      </if>
      <if test="ageEnd != null" >
        #{ageEnd,jdbcType=INTEGER},
      </if>
      <if test="academicRequirements != null" >
        #{academicRequirements,jdbcType=VARCHAR},
      </if>
      <if test="welfare != null" >
        #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="environmentalPhotos != null" >
        #{environmentalPhotos,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="wx != null" >
        #{wx,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="workSpace != null" >
        #{workSpace,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="workingTime != null" >
        #{workingTime,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>