<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.IdCardMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.IdCard" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="team_id" property="teamId" jdbcType="BIGINT" />
    <result column="positive_url" property="positiveUrl" jdbcType="VARCHAR" />
    <result column="aspect_url" property="aspectUrl" jdbcType="VARCHAR" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="VARCHAR" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.IdCard" >
    insert into id_card (id, team_id, positive_url, 
      aspect_url, manager_name, manager_id, 
      createBy, createTime, updateBy, 
      updateTime, status)
    values (#{id,jdbcType=BIGINT}, #{teamId,jdbcType=BIGINT}, #{positiveUrl,jdbcType=VARCHAR}, 
      #{aspectUrl,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR}, 
      #{createby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"   parameterType="com.temporary.center.ls_service.domain.IdCard" >
    insert into id_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="positiveUrl != null" >
        positive_url,
      </if>
      <if test="aspectUrl != null" >
        aspect_url,
      </if>
      <if test="managerName != null" >
        manager_name,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="positiveUrl != null" >
        #{positiveUrl,jdbcType=VARCHAR},
      </if>
      <if test="aspectUrl != null" >
        #{aspectUrl,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>