<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.JoinMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.Join" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="resume_id" property="resumeId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="recruitment_info_id" property="recruitmentInfoId" jdbcType="BIGINT" />
    <result column="recruitment_info_createBy" property="recruitmentInfoCreateby" jdbcType="VARCHAR" />
    <result column="recruitment_info_createBy_name" property="recruitmentInfoCreatebyName" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resume_id, user_name, user_id, recruitment_info_id, recruitment_info_createBy, 
    recruitment_info_createBy_name, createTime, remark,state
  </sql>
  
  
  <select id="findDataByParam" resultMap="BaseResultMap" parameterType="com.temporary.center.ls_service.domain.Join">
  	select * from w_join
  	<where>
    	<if test="resumeId!=null">
    		resume_id=#{resumeId}
    	</if>
    	<if test="id != null" >
        and id=#{id}
      </if>
      <if test="resumeId != null" >
        and resume_id=#{resumeId}
      </if>
      <if test="userName != null" >
        and user_name=#{userName}
      </if>
      <if test="userId != null" >
       and user_id=#{userId}
      </if>
      <if test="recruitmentInfoId != null" >
       and recruitment_info_id=#{recruitmentInfoId}
      </if>
      <if test="recruitmentInfoCreateby != null" >
       and recruitment_info_createBy=#{recruitmentInfoCreateby}
      </if>
      <if test="recruitmentInfoCreatebyName != null" >
       and recruitment_info_createBy_name=#{recruitmentInfoCreatebyName}
      </if>
      <if test="createtime != null" >
       and createTime=#{createtime}
      </if>
      <if test="remark != null" >
       and remark=#{remark}
      </if>
       <if test="state != null" >
       and state=#{state}
      </if>
      <if test="start!=null and end!=null">
      	limit ${start},${end}
      </if>
    </where>
  </select>
  
  <select id="countByParam" resultType="java.lang.Long"  parameterType="com.temporary.center.ls_service.domain.Join">
    select count(1) from w_join
    <where>
    	<if test="resumeId!=null">
    		resume_id=#{resumeId}
    	</if>
    	<if test="id != null" >
        and id=#{id}
      </if>
      <if test="resumeId != null" >
        and resume_id=#{resumeId}
      </if>
      <if test="userName != null" >
        and user_name=#{userName}
      </if>
      <if test="userId != null" >
       and user_id=#{userId}
      </if>
      <if test="recruitmentInfoId != null" >
       and recruitment_info_id=#{recruitmentInfoId}
      </if>
      <if test="recruitmentInfoCreateby != null" >
       and recruitment_info_createBy=#{recruitmentInfoCreateby}
      </if>
      <if test="recruitmentInfoCreatebyName != null" >
       and recruitment_info_createBy_name=#{recruitmentInfoCreatebyName}
      </if>
      <if test="createtime != null" >
       and createTime=#{createtime}
      </if>
      <if test="remark != null" >
       and remark=#{remark}
      </if>
      <if test="state != null" >
       and state=#{state}
      </if>
    </where>
  
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from w_join
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from w_join
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.Join" >
    insert into w_join (resume_id, user_name, 
      user_id, recruitment_info_id, recruitment_info_createBy, 
      recruitment_info_createBy_name, createTime, 
      remark,state)
    values (#{resumeId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{recruitmentInfoId,jdbcType=BIGINT}, #{recruitmentInfoCreateby,jdbcType=VARCHAR}, 
      #{recruitmentInfoCreatebyName,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR},#{state})
  </insert>
  <insert id="insertSelective" parameterType="com.temporary.center.ls_service.domain.Join" >
    insert into w_join
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resumeId != null" >
        resume_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="recruitmentInfoId != null" >
        recruitment_info_id,
      </if>
      <if test="recruitmentInfoCreateby != null" >
        recruitment_info_createBy,
      </if>
      <if test="recruitmentInfoCreatebyName != null" >
        recruitment_info_createBy_name,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="recruitmentInfoId != null" >
        #{recruitmentInfoId,jdbcType=BIGINT},
      </if>
      <if test="recruitmentInfoCreateby != null" >
        #{recruitmentInfoCreateby,jdbcType=VARCHAR},
      </if>
      <if test="recruitmentInfoCreatebyName != null" >
        #{recruitmentInfoCreatebyName,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.temporary.center.ls_service.domain.Join" >
    update w_join
    <set >
      <if test="resumeId != null" >
        resume_id = #{resumeId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="recruitmentInfoId != null" >
        recruitment_info_id = #{recruitmentInfoId,jdbcType=BIGINT},
      </if>
      <if test="recruitmentInfoCreateby != null" >
        recruitment_info_createBy = #{recruitmentInfoCreateby,jdbcType=VARCHAR},
      </if>
      <if test="recruitmentInfoCreatebyName != null" >
        recruitment_info_createBy_name = #{recruitmentInfoCreatebyName,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.temporary.center.ls_service.domain.Join" >
    update w_join
    set resume_id = #{resumeId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      recruitment_info_id = #{recruitmentInfoId,jdbcType=BIGINT},
      recruitment_info_createBy = #{recruitmentInfoCreateby,jdbcType=VARCHAR},
      recruitment_info_createBy_name = #{recruitmentInfoCreatebyName,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      state=#{state}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>