<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.ProjectExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.ProjectExperience" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="curriculum_vitea_id" property="curriculumViteaId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="achievement" property="achievement" jdbcType="VARCHAR" />
    <result column="begin" property="begin" jdbcType="DATE" />
    <result column="end" property="end" jdbcType="DATE" />
    <result column="createBy" property="createby" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="BIGINT" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.ProjectExperience" >
    insert into project_experience (id, curriculum_vitea_id, name, 
      describe, duty, achievement, 
      begin, end, createBy, createTime, 
      updateBy, updateTime)
    values (#{id,jdbcType=BIGINT}, #{curriculumViteaId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{achievement,jdbcType=VARCHAR}, 
      #{begin,jdbcType=DATE}, #{end,jdbcType=DATE}, #{createby,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.temporary.center.ls_service.domain.ProjectExperience" >
    insert into project_experience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="curriculumViteaId != null" >
        curriculum_vitea_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="achievement != null" >
        achievement,
      </if>
      <if test="begin != null" >
        begin,
      </if>
      <if test="end != null" >
        end,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="curriculumViteaId != null" >
        #{curriculumViteaId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="achievement != null" >
        #{achievement,jdbcType=VARCHAR},
      </if>
      <if test="begin != null" >
        #{begin,jdbcType=DATE},
      </if>
      <if test="end != null" >
        #{end,jdbcType=DATE},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>