<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.ProvincialMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.Provincial" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="Provincial" property="provincial" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, Provincial
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from provincial
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from provincial
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.Provincial" >
    insert into provincial (pid, Provincial)
    values (#{pid,jdbcType=INTEGER}, #{provincial,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.temporary.center.ls_service.domain.Provincial" >
    insert into provincial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="provincial != null" >
        Provincial,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="provincial != null" >
        #{provincial,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.temporary.center.ls_service.domain.Provincial" >
    update provincial
    <set >
      <if test="provincial != null" >
        Provincial = #{provincial,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.temporary.center.ls_service.domain.Provincial" >
    update provincial
    set Provincial = #{provincial,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>