<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.temporary.center.ls_service.dao.UserAddressMapper" >
  <resultMap id="BaseResultMap" type="com.temporary.center.ls_service.domain.UserAddress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="createBy" property="createby" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="BIGINT" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="ContactsName" property="contactsname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="isdefault" property="isdefault" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, address, country, province, city, longitude, latitude, createBy, createTime, 
    updateBy, updateTime, ContactsName, sex, label, active, isdefault,district,tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="list" parameterType="com.temporary.center.ls_service.domain.UserAddress" resultMap="BaseResultMap">
  	select * from user_address
	<where>
	  <if test="id != null" >
        id=#{id}
      </if>
      <if test="address != null" >
        and address=#{address}
      </if>
      <if test="country != null" >
        and country=#{country}
      </if>
      <if test="province != null" >
        and province=#{province}
      </if>
      <if test="city != null" >
        and city=#{city}
      </if>
      <if test="longitude != null" >
        and longitude=#{longitude}
      </if>
      <if test="latitude != null" >
        and latitude=#{latitude}
      </if>
      <if test="createby != null" >
        and createBy=#{createby}
      </if>
      <if test="createtime != null" >
        and createTime=#{createtime}
      </if>
      <if test="updateby != null" >
        and updateBy=#{updateby}
      </if>
      <if test="updatetime != null" >
        and updateTime=#{updatetime}
      </if>
      <if test="contactsname != null" >
        and ContactsName=#{contactsname}
      </if>
      <if test="sex != null" >
        and sex=#{sex}
      </if>
      <if test="label != null" >
        and label=#{label}
      </if>
      <if test="active != null" >
        and active=#{active}
      </if>
      <if test="isdefault != null" >
       and  isdefault=#{isdefault}
      </if>
      <if test="start != null and end != null" >
       limit  ${start} , ${end}  
      </if>
	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_address
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.temporary.center.ls_service.domain.UserAddress" >
    insert into user_address (id, address, country, 
      province, city, longitude, 
      latitude, createBy, createTime, 
      updateBy, updateTime, ContactsName, 
      sex, label, active, 
      isdefault,district,tel)
    values (#{id,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{longitude,jdbcType=REAL}, 
      #{latitude,jdbcType=REAL}, #{createby,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=BIGINT}, #{updatetime,jdbcType=TIMESTAMP}, #{contactsname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, 
      #{isdefault,jdbcType=INTEGER},#{district,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.temporary.center.ls_service.domain.UserAddress" >
    insert into user_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="contactsname != null" >
        ContactsName,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="isdefault != null" >
        isdefault,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="tel != null" >
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactsname != null" >
        #{contactsname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
       <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateIsdefault" parameterType="com.temporary.center.ls_service.domain.UserAddress" >
   update user_address set isdefault = #{isdefault} where createBy = #{createby}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.temporary.center.ls_service.domain.UserAddress" >
    update user_address
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        updateBy = #{updateby,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactsname != null" >
        ContactsName = #{contactsname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null" >
        isdefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.temporary.center.ls_service.domain.UserAddress" >
    update user_address
    set address = #{address,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL},
      createBy = #{createby,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=BIGINT},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      ContactsName = #{contactsname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      isdefault = #{isdefault,jdbcType=INTEGER},
      district=#{district,jdbcType=VARCHAR},
      tel=#{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>